* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 100vh;
    width: 100vw;
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.wraper {
    height:  fit-content;
    width: 32vw;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 1.2rem;
    background-color: rgb(152, 242, 245);
    border-radius: 0.8rem;
    position: fixed;
}
.taskField {
    margin-bottom: 1rem;
}
.wraper input {
    height: 2.2rem;
    width: 14rem;
    background-color: rgb(246, 231, 231);
    border: 2px solid rgb(251, 249, 252);
    border-radius: 0.3rem;
    font-size: 1rem;
    margin-top: 1.8rem;
}
    .btn {
        height: 2rem;
        width: 6rem;
        color: whitesmoke;
        background-color: aquamarine;
        text-decoration: none;
        border: 1 px solid black;
        border-radius: 0.2rem; 
        font-size: 0.8rem;
        position: relative;
        z-index: 1;
        margin-left: 0.8rem;
    }
    .btn::before {
        content: "";
        background-color: black;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: scaleX(0);
        transform-origin: left;
        transition: all 1s;
    
    }
    .btn:hover::before {
        transform: scaleX(1);
        z-index: -1;
    
    }
    
    .delBtn {
        height: 1.8rem;
        width: 5.6rem;
        margin-left: 0.6rem;
        color: whitesmoke;
        background-color: rgb(139, 188, 245);
        text-decoration: none;
        border-radius: 0.2rem; 
        font-size: 0.8rem;
        position: relative;
        z-index: 1;
        border: none;
    }
    .delBtn::before {
        content: "";
        background-color: black;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: scaleX(0);
        transform-origin: left;
        transition: all 1s;
    
    }
    .delBtn:hover::before {
        transform: scaleX(1);
        z-index: -1;
    }
    .item {
        margin-bottom: 2rem;
    }

    
    .list {
       color: #6d6def; 
       border: 2px solid black;
       margin-top: 0.6rem;
       display: flex;
       justify-content: center;
       align-items: center;
       height: 2.4rem;
       width: 15rem;
       overflow: hide;
       list-style: none;
    }
    