
* {
    margin: 0;
    padding: 0;
}

.wraper {
    height: 280px;
    width: 260px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    

}
.pic {
    height: 120px;
    width: 120px;
    background-color: whitesmoke;
    margin-top: 10px;
}

.wraper button {
    width: 260px;
    height: 40px;
    margin-top: 10px;
    font-size: 10px;
    
}
.wraper h4 {
    letter-spacing: 1px;

}
