


.heading {
    color: rgb(238, 161, 173);
}

.input {
    height: 22px;
    margin: 20px;
    background-color: whitesmoke;
    border: 1px solid skyblue;


}
.btn {
    height: 40px;
    border-radius: 8px;
    background-color: skyblue;
    color: blanchedalmond;
    margin: 20px;
    border: 2px solid rgb(240, 217, 187);

}