.App {
  /* height: 320px;
  width: 320px; */
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(237, 151, 165);

    
  

}
