.App {
  text-align: center;
}

button {
  height: 40px;
  width: 80px;
  border-radius: 6px;
  background-color: rgb(234, 127, 145);
  margin: 20px;
}

input {
  height: 40px;
  width: 200px;
  border-radius: 6px;
  background-color: rgb(245, 222, 179);
  margin: 20px;
}